{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<div class="row">
  <form method="POST" enctype="multipart/form-data" action="{{url_for('user.user_update',user_id=current_user.id)}}">
      {{ form.csrf_token }}
      {{ render_field(form.name,value=current_user.name) }}
      {{ render_field(form.avatar,value=current_user.avatar,class="avatar_field") }}
      <img id="preview_img" src="{{url_for('static',filename=avatar_path)}}" width="200px" height="200px">
      {{ form.submit() }}
  </form>
</div>
<script src="{{url_for('static',filename='preview.js')}}"></script>
{% endblock %}