{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
  <form method="POST" enctype="multipart/form-data" action="{{url_for('article.article_update',article_id=article.id)}}">
      {{ form.csrf_token }}
      {{ render_field(form.title,value=article.title) }}
      <dt><label for="text">本文:</label></dt>
      <dd><textarea id="text" type="text" name="text" rows="5" cols="50">{{article.text}}</textarea></dd>
      {% if  form.text.errors %}
      <ul class="errors">
      {% for  error in form.text.errors %}
      <li>{{ error }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {{ render_field(form.picture,value=article.picture) }}
      {{ form.submit() }}
  </form>
</div>


{% endblock %}