{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block content %}
<div class="row">
  <form method="POST" enctype="multipart/form-data" action="{{url_for('article.article_create')}}">
      {{ form.csrf_token }}
      {{ render_field(form.title) }}
      {{ render_field(form.text) }}
      {{ render_field(form.picture,class="picture_field") }}
      {{ form.submit() }}
  </form>
  <div class="preview-img"></div>
</div>

<script src="{{url_for('static',filename='picture_preview.js')}}"></script>
{% endblock %}